body {
    text-align: center;
    overflow-x: hidden;
  }

/* .navbar {
    padding: 0 0 4.5rem;
} */
.welcomeScreen {
    background-color: white;
}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.3rem;
    font-weight: bold;
    color: #E3F6FF;
}
.nav-item {
    padding: 0 18px;
    
}
.nav-link {
    font-size: 20px;
    color: #E3F6FF;
    font-weight: bold;
    font-family: "Ubuntu";
  }

/* Containers */

.container-fluid{
    padding: 1% 10% 1% 10%;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.tcenter{
    text-align: center;
  }

/* welcomehome */
#welcomehome{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* firstsection */

.welleft{
    padding: 1% 10% 1% 10%;
}

.welright{
    float: right;
    padding-right: 10%;
    /* padding: 1% 15% 1% 15%; */
}

.big-heading {
    font-size: 45px;
    line-height: 2;
    padding-top: 50px;
    
}

.big-para {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 50px;
}

#startbtn{
    padding: 3px 18px 3px 18px;
    /* align-items: center; */
    text-align: center;
    color: #64ccff;
    
    
}
#startbtn:hover {
    background-color: #64ccff;
    color: white;
}

.spanQ{
    padding-left: 50px;
}

.titleimage{
    width: 700px;
    
    /* padding-right: 10%; */
}


/* feature */



#feature {
    position: relative;
    background-color: lightblue;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: white;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #64ccff;
  }

.carTxt {
    font-size: 3rem;
    line-height: 1.5;
  }
  
.carImg {
    float: right;
    padding-right: 200px;
    width: 20%;
    /* border-radius: 100%; */
    margin: 20px;
    line-height: 3;
  }


/* sponsor */
.organize{
    padding-top: 10px;
    width: 150px;
}



  /* Footer */

  .social-icon {
    margin: 20px 10px;
    color: #64ccff;
  }

  /* core */

.fImg{
    width: 200px;
}

#f1{
    padding: 2% 10% 2% 10%;
}

#f2{
    padding: 2% 10% 2% 10%;
    background-color: lightblue;
}

